<div>
  <p>
    <b>Email: </b>
    <%= @user.email %>
  </p>
  <p>
    <b>Username: </b>
    <%= @user.username %>
  </p>
  <p>
    <b>Name: </b>
    <%= @user.name %>
  </p>
  <p>
    <b>Address: </b>
    <%= @user.address %>
  </p>
  <p>
    <b>Phone Number: </b>
    <%= @user.phone_number %>
  </p>
  <p>
    <b>Credit Card Number: </b>
    <%= @user.credit_card_number %>
  </p>
</div>