<p style="color: green"><%= notice %></p>
<% if current_user %>
  <%= link_to 'View all transactions', transactions_path %>
<h1>Books</h1>

<div id="books">

  <%= form_with(url: books_path, method: "get") do %>
    <%#= label_tag(:rating, "Rating: ") %>
    <%#= text_field_tag(:rating) %>
    <%= label_tag(:author, "Search by author: ") %>
    <%= text_field_tag(:author) %>
    <%= submit_tag("Filter") %>
  <% end %>


  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
<% else %>
  <p class="text-muted display-8 text-center">Please login to use the features of our site.</p>
<% end %>