<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>You are purchasing the product: <%= @book.name %></p>

  <div class="field">
    <% qty = @book.stock %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, :id => 'quantity', min: 1, max: qty, onchange: "calculateTotalPrice();" %>
  </div>

  <div class="field">
    <%= form.label :total_cost %>
    <%= form.text_field :total_price, :id => 'total_cost', :readonly => true %>
  </div>

  <div class="field">
    <%= form.hidden_field :book_id, value: @book.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :credit_card_id, "Credit card number" %>
    <%= form.collection_select :credit_card_id, User.where(id: current_user.id),:id,:credit_card_number, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit "Complete purchase", data: {turbo: false} %>
  </div>

<% end %>

<script type="text/javascript">
    function calculateTotalPrice() {
        var price = "<%= @book.price %>";
        document.getElementById('total_cost').value = document.getElementById('quantity').value * price;
    }
</script>
