<div id="<%= dom_id transaction %>">
<!--  <p>
    <strong>Transaction no:</strong>
    <%#= transaction.transaction_no %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%#= transaction.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%#= transaction.total_price %>
  </p>-->
  <tr>
    <td><%= transaction.transaction_no %></td>
    <td> </td>
    <td><%= transaction.book_id %></td>
    <td> </td>
    <td><%= transaction.quantity %></td>
    <td> </td>
    <td><%= transaction.total_price %></td>
    <td> </td>
    <td><%= transaction.creditcard %></td>
    <td> </td>
    <td><%= transaction.address %></td>
    <td> </td>
    <td><%= transaction.phoneno %></td>
  </tr>

</div>
