<div id="<%= dom_id review %>">


  <div class="card">
    <div class="card-body">
      <p>
        <strong>Rating:</strong>
        <%= review.rating %>
      </p>

      <p>
        <strong>Review:</strong>
        <%= review.review %>
      </p>

      <p>
        <strong>User:</strong>
        <%= review.user.username %>
      </p>

      <p>
        <strong>Book:</strong>
        <%= review.book.name %>
      </p>

    </div>
  </div>
</div>
