<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>
<div class="card">
  <div class="card-body">
    <%= form_with(url: reviews_all_path, method: "get") do %>
      <%= label_tag(:username, "Username: ", class: "form-label") %>
      <%= text_field_tag(:username, params[:username], class: "form-control") %>

      <%= submit_tag("Filter", class:"btn btn-warning mt-2 mb-2") %>
    <% end %>

    <%= form_with(url: reviews_all_path, method: "get") do %>

      <%= label_tag(:bookname, "Book Name: ", class: "form-label") %>
      <%= text_field_tag(:bookname, params[:bookname], class: "form-control") %>

      <%= submit_tag("Filter", class:"btn btn-warning mt-2 mb-2") %>
    <% end %>
  </div>
</div>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <% if current_user and ((review.user_id == current_user.id) or current_user.admin?) %>
      <div class="d-flex justify-content-between">
        <%= link_to "Edit review", edit_book_review_path(review.book_id, review), class: "btn btn-outline-warning" %>
        <%= button_to "Delete review", book_review_path(review.book_id, review), method: :delete,  class: "btn btn-small btn-outline-danger"%>
        <%#= button_to "Destroy this book", @book, method: :delete, class: "btn btn-outline-danger my-4  mx-2" %>
      </div>
    <% end %>
  <% end %>

  <% if @reviews.count == 0 %>
    <h2> Nothing to show </h2>
  <% end %>
</div>

<%#= link_to "New review", new_book_review_path(@book) %>
